:root {
  --primary: #d81b60;
}

#root {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}

form {
  width: 300px;
}

.field-container {
  /* border: 1px pink solid; */
  height: 140px;
}